body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 128px;
	text-align: center;
	font-family: Helvetica;
	color: maroon;
}

button {
	background-color: maroon;
	margin: center;
	height: 60px;
	width: 200px;
	font-size: 32px;
}

.buttons {
	text-align: center;
	display: inline-block;
	margin: center;
}

ul {
	list-style-type: none;
}