body {
	background-color: black;
	color: white;
}

h1 {
	font-size: 128px;
	text-align: center;
	font-family: Helvetica;
	color: maroon;
}

button {
	background-color: maroon;
	margin: center;
	height: 60px;
	width: 200px;
	font-size: 32px;
}

.buttons {
	text-align: center;
	display: inline-block;
	margin: center;
}

ul {
	list-style-type: none;
}

.wrapper {
    border: 1px solid white;
    border-radius: 10px;
    width:80%;
    margin: auto;
    height: 1500px;
}

#welcome {
    text-align: center;
    margin: auto;
}

#moby {
    padding: 25px;
}

#account {
    float: right;
    font-size: 28px;
    margin-right: 130px;
}

.popBooks {
    float: left;
    display: inline;
    padding: 50px;
}